.Ball {
  background-color: tomato;
  color: white;
  font-weight: bold;
  font-size: 1.5em;

  display: inline-block;

  /* em: relative to the font-size of the elem.
     3em means 3 times the size of the current font */
  width: 3em;
  height: 2.25em;

  text-align: center;  
  padding-top: 0.75em;
  border-radius: 50%;  
  margin-right: 0.5em;
}