.Lottery {
  padding: 1em 0 2em 0;
  border: solid 2px gray;
  margin: 1em auto auto;
  text-align: center;
  border-radius: 10px;

  width: 40em;
  text-align:center;
}

.Lottery button {
  background-color: darkblue;
  color: white;
  font-size: 120%;
  border-radius: 10px;
  margin-top: 1em;  /* Only add margin on the top of the box */
}
