/* Modified from Todo List UI by Sawsan on codepen.io */

.Todo {
  display: flex;

  /* -3rem: make the todo list starts from the edge of the box container */
  margin: 0 -3rem 4px;
  
  padding: 1.1rem 3rem;

  /* height: 77px; */
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  /* overflow: hidden;
  position: relative;
  transition: opacity 500ms ease-in-out; */
}
.Todo-task.completed {
  opacity: 0.6;
}

/* --------------------------------------------------------- */
/* Anime effect for the strikethrough from left to right */
.Todo-task.completed:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -0.5rem;
  display: block;
  width: 0%;
  height: 2px;
  background: #fff;
  animation: strikeitem 0.3s ease-in 0s forwards;
}
@keyframes strikeitem {
  to {
    width: calc(100% + 1rem);
  }
}
.Todo-task {
  /* The strikethrough will go from left edge of the webpage to the right if without it */
  position: relative;
}

/* --------------------------------------------------------- */
/* Styling Edit and Delete buttons */

.Todo-buttons {
  flex-shrink: 0;
  padding-left: 0.7em;
}
.Todo-buttons button {
  border: none;
  font-size: 1em;
  margin: 0.4em;
  background: none;
  -webkit-appearance: none;
  cursor: pointer;

  /* Set color of the icon buttons to white */
  color: #fff;
}

/* --------------------------------------------------------- */
/* Styling todo-edit form */

.Todo-edit-form {
  display: flex;
  flex-wrap: wrap;
}
.Todo-edit-form label {
  min-width: 100%;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}
.Todo-edit-form input {
  flex-grow: 1;
  border: none;
  background: #f7f1f1;
  padding: 0 1.5em;
  font-size: initial;
}
.Todo-edit-form button {
  padding: 0 1.3rem;
  border: none;
  background: #fa6e6e;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 5px;
  cursor: pointer;
  transition: background 0.2s ease-out;
}
/* Add Hover effect */
.Todo-edit-form button:hover {
  background: #f56905;
}
.Todo-edit-form input,
.Todo-edit-form button {
  font-family: "Quicksand", sans-serif;
  height: 3rem;
} 
